<!DOCTYPE HTML>
<html>
	<head>
		<title>Read Better - Books Recommended by <%= data.leader.leader_name %></title>
		<meta charset="utf-8" />
		<meta name="Read Better - Books Recommended by <%= data.leader.leaderName %>" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="../views/admin/display-updatedLeader-style.css" />
	</head>
	<body id="top">

		<!-- Header -->
			<nav id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img id= "readbetter_logo" src="..\images\readbetter_logo.png" alt=""></a>
					<h1><strong>Read Better</strong></h1>
				</div>
			</nav>

		<!-- Main -->
			<main id="main">

				<header><h1>Read Better - Books Recommended by <%= data.leader.leaderName %></h1></header>
				<div id="content">
				<section id="leader-box">
					<div id="leader-img-box">
						<img src="<%= data.leader.leaderImgPath %>" alt="Picture of <%= data.leader.leaderName %> from the field of <%= data.leader.leaderSector %> ">
					</div>
					<h2><%= data.leader.leaderName %></h2>
					<h3><%= data.leader.leaderSector %></h3>
					<br>
					<p><%- data.leader.leaderBio %></p>
					<button onclick="location.href=`/admin/leader-data-entry?leaderId=<%= data.leader._id %>`">Revise Entry</button>
					<button onclick="location.href=`/admin/leader-data-entry`">Next Entry</button>
				</section>
				<section id="books-reco-box">
					<% data.books.forEach(function(dat){ %>
					<a href="<%= dat.amazonLink %>" target="_blank">
					<div class="book-box" id='book-box'>
							<div class="book-image-box">
								<img src="<%= dat.bookImgPath %>" alt="Picture of the book name <%= dat.bookName %>" class="images">
							</div>
							<div class = "book-details">
								<h4><%= dat.bookName %></h4>
								<p>by <%= dat.bookAuthor.join(', ') %></p>
								<br>
								<h4><%= dat.leadersReco[0].leaderComment %></h4>
								<p><%= dat.leadersReco[0].whereRecommended %></p>
								<br>
								<p>Tags: <%= dat.bookTags.join(", ") %></p>
								<p>Recommended by <%= dat.recoCount %> leader(s)</p>
							</div>
					</div>
					</a>
					<% }); %>
				</section>
			</div>
			</main>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
	<!--				<ul class="copyright">
					</ul>
	-->
				</div>
			</footer>

		<!-- Scripts -->
		<!-- <script src="assets\main\main_jquery.js"> </script> -->
			

	</body>
</html>