<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Data Entry for Read Better</title>
        <link rel="stylesheet" href="..\views\admin\data_entry_style.css">
        <script type="text/javascript" src="..\views\admin\leader-data-entry.js"></script>

    </head>
    <body>
        <header>
            <h1>Data Entry for Read Better</h1>
        </header>

        <main>
            <p>Check all items & approve</p>

            <form id="newBookForm" enctype="text/html" method="post" action="/admin/updated-leader">
                <input name="leaderId" type="text" readonly value= "<%= data._id %>">
                <label>
                Leader Name:
                <input name="leaderName" type="text" required value="<%= data.leaderName %>">
                </label>
                <label>
                Leader Sector:
                <input name="leaderSector" type="text" required value="<%= data.leaderSector %>">
                </label>
                <label>
                Leader Bio:
                <textarea name="leaderBio" id="leaderBio" type="text" rows="4" cols="60" oninput = textInput()><%= data.leaderBio %></textarea>
                </label>
                <br>
                <div><p id="textDisp"><%- data.leaderBio %></p></div>
                <br>
                <label>
                Leader Image:
                <input name="leaderImgPath" type="text" value="<%= data.leaderImgPath %>">
                </label>
                <label>
                Leader Story Link:
                <input name="leaderStoryLink" type="text" value="<%= data.leaderStoryLink %>">
                </label>
                <label>
                Leader Twitter ID: <a href="https://twitter.com/search?q=<%= encodeURI(data.leaderName) %>&src=typed_query" target="_blank">Twitter Link</a>
                <input name="twitter_id" type="text" maxlength="200" required value="<%= data.twitter.id %>">
                </label>
                <label>
                Leader Twitter Followers: (in <b>Thousands</b>)
                <input name="twitter_followers" type="number" step = "0.001" maxlength="200" required value="<%= data.twitter.followers %>">
                </label>
                <button type="submit" id="submit-book">Add Entry</button>
            </form>
            
        </main>
    </body>
</html>