<!DOCTYPE HTML>
<html>
	<head>
		<title>Read Better</title>
		<meta charset="utf-8" />
		<meta name="Read Better" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="assets\main\main_style.css" />
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img id= "readbetter_logo" src="images\readbetter_logo.jpg" alt="" /></a>
					<h1><strong>Read Better</strong><br />
					<br />
					Know what the best minds are reading.<br />
					</h1>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- Two -->
					<section id="two">
						<h2>Find the books read & recommended by the top leaders here</h2>
						<div class="row" id='leader_cards'>
							<% data.forEach(function(dat){ %>
								<article class="image-box">
									<a href="/leader_data/<%= dat.twitter.id %>"><img src="<%= dat.images[0].path %>" alt="" class="images" /></a>
									<h3><%= dat.leader_name %></h3>
									<p><a href="https://www.twitter.com/<%= dat.twitter.id %>">@<%= dat.twitter.id %></a></p>
								</article>
							<% }); %>
						</div>
					</section>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
	<!--				<ul class="copyright">
					</ul>
	-->
				</div>
			</footer>

		<!-- Scripts -->
		<!-- <script src="assets\main\main_jquery.js"> </script> -->
			

	</body>
</html>