<!DOCTYPE HTML>
<html>
	<head>
		<title>Read Better - All books on portal</title>
		<meta charset="utf-8" />
		<meta name="Read Better - All the books on the portal" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="../views/display_leader/display_allbooks-style.css" />
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img id= "readbetter_logo" src="..\images\readbetter_logo.png" alt="" /></a>
					<h1><strong>Read Better</strong><br />
					<br />
					Know what the best minds are reading.<br />
					</h1>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- Two -->
					<section id="two">
						<h2>Read Better - All books on Portal</h2>
						<div class="row" id='book_cards'>
							<% data.forEach(function(dat){ %>
								<a href="<%= dat.amazonLink %>" target="_blank"><article class="image-box">
									<img src="<%= dat.bookImgPath %>" alt="" class="images" />
									<div class = "card_details">
										<h3><%= dat.bookName %></h3>
										<p><%= dat.bookAuthor.join(', ') %></p>
										<p><strong>ISBN-13:</strong> <%= dat.ISBN13 %></p>
										<p><strong>ISBN-10:</strong> <%= dat.ISBN10 %></p>
										<p><strong>ASIN:</strong> <%= dat.ASIN %></p>
										<p><strong>Book Description:</strong> <%- dat.bookDesc %></p>
										<p><strong>Tags:</strong> <%= dat.bookTags %></p>
                    					<p><strong>Recommended by:</strong> <% dat.leadersReco.forEach(function(dat){ %> @<%= dat.twitterId %> <% }); %></p>
<!--               <p>Recommended by: <% dat.leadersReco.forEach(function(dat){ %><a href="/<%= dat.twitter_id %>" target="_blank">@<%= dat.twitter_id %></a> <% }); %></p>
-->
									<button onclick="location.href=`/admin/book-data-entry?bookId=<%= dat._id %>`">Revise Entry</button>
									<button onclick="location.href=`/admin/book-data-entry`">Next Entry</button>
									</div>
								</article></a>
							<% }); %>
						</div>
					</section>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
	<!--				<ul class="copyright">
					</ul>
	-->
				</div>
			</footer>

		<!-- Scripts -->
		<!-- <script src="assets\main\main_jquery.js"> </script> -->
			

	</body>
</html>