<!DOCTYPE HTML>
<html>
	<head>
		<title>Read Better - Books Recommended by <%= data.leader_name %></title>
		<meta charset="utf-8" />
		<meta name="Read Better - Books Recommended by <%= data.leader_name %>" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="views/display_leader/leader_view-style.css" />
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img id= "readbetter_logo" src="images\readbetter_logo.png" alt="" /></a>
					<h1><strong>Read Better</strong><br />
					<br />
					Know what the best minds are reading.<br />
					</h1>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- Two -->
					<section id="two">
						<h2>Read Better - Books Recommended by <%= data.leader_name %></h2>
						<div class="row" id='book_cards'>
							<% data.booksReco.forEach(function(dat){ %>
								<a href="<%= dat.amazonLink %>" target="_blank"><article class="image-box">
									<img src="<%= dat.bookImgPath %>" alt="" class="images" />
									<div class = "card_details">
										<h3><%= dat.book_name %></h3>
										<p><%= dat.author.join(', ') %></p>
									</div>
								</article></a>
							<% }); %>
						</div>
					</section>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
	<!--				<ul class="copyright">
					</ul>
	-->
				</div>
			</footer>

		<!-- Scripts -->
		<!-- <script src="assets\main\main_jquery.js"> </script> -->
			

	</body>
</html>